.main-logo
  text-align: center
  div
    margin-top: 2%
  .logo-header
    font-size: 2em
    @include breakpoint(xlarge up)
      font-size: 3em

  .logo-subheader
    @include breakpoint(xlarge up)
      font-size: 1.5em

  .subscription-form
    height: 50px
    .subscribe-link
      margin-top: 2px
      display: inline-block
    input.subscription-field
      margin-left: 23%
      margin-bottom: 0
      width: 54%
      background: transparent
      box-shadow: none
